<a href="/">Übersicht</a>

{{#if common.current_user}}
    | Eingeloggt als {{common.current_user}}
    | <a href="/logout">Logout</a>
    | <a href="/newrecipe">Neues Rezept</a>
    | <a href="/config">Konfiguration</a>
{{else}}
    | <a href="/login">Login</a>
{{/if}}

