<a href="/">Übersicht</a>

{{#if common.current_user}}
    | Eingeloggt als {{common.current_user.name}}
    | <a href="/logout">Abmelden</a>
    | <a href="/newrecipe">Neues Rezept</a>
    | <a href="/config">Konfiguration</a>
{{else}}
    | <a href="/login">Anmelden</a>
{{/if}}

