<a href="/">Übersicht</a>

{{#if common.current_user}}
    {{common.current_user}}
    <form action="/logout" method="post" accept-charset="utf-8">
        <input type="submit" name="logout" id="logout" value="logout" />
    </form>
{{else}}
    <form action="/login" method="get" accept-charset="utf-8">
        <input type="submit" name="login" id="login" value="login" />
    </form>
{{/if}}

