<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rezept - Neu</title>
</head>
<body>
{{> header }}
<h1>Neues Rezepte</h1>

{{#if common.message}}
    <p>{{#if common.message_type}}{{common.message_type}}: {{/if}}{{ common.message }}</p>
{{/if}}

<form action="/newrecipe" method="post" accept-charset="utf-8">
    <label for="name">Name</label><br/>
    <input type="text" name="name" id="name" value="" /><br/>
    <label for="ingredients">Zutaten</label><br/>
    <textarea name="ingredients" cols="50" rows="10"></textarea><br/>
    <label for="preparation">Zubereitung</label><br/>
    <textarea name="preparation" cols="50" rows="10"></textarea>
    <p><input type="submit" value="save"></p>
</form>
</body>
</html>