<!doctype html>
<html>
<head>
    <title>{{#if title}}{{title}}{{else}}Rezepte{{/if}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
        .content {
            border: 3px solid #0000A0;
            background-color: #DCDCFF;
            padding: 1em;
            margin-bottom: 1em;
        }
    </style>
    {{#> head-block}}
    {{/head-block}}
</head>
<body>

{{#> content-block}}
{{/content-block}}

</body>
</html>